TEST_VALID_EMAIL=
TEST_VALID_PASSWORD=

TEST_INVALID_EMAIL=
TEST_INVALID_PASSWORD=

TEST_NAME=
TEST_FIRST_NAME=
TEST_LAST_NAME=
TEST_ADDRESS=
TEST_COUNTRY=
TEST_STATE=
TEST_CITY=
TEST_ZIPCODE=
TEST_MOBILE_NUMBER=